* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.search-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.search-input {
  padding: 0.5rem 1.5rem;
  width: 60%;
  border: 1px solid #9dbeb9;
  border-radius: 5px;
}
.search-input:hover,
.search-input:focus {
  outline: none;
  border: 1px solid #9dbeb9;
}
.search-btn {
  padding: 0.5rem 1.5rem;
  margin-left: 2px;
  border-radius: 5px;
  border: 1px solid #9dbeb9;
  background-color: #9dbeb9;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
.title {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.recipe-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 20px;
  border: 1px solid #d8e3e7;
  box-shadow: 0px 5px 10px #d8e3e7;
  padding: 10px;
  border-radius: 10px;
}
.recipe-item img {
  margin-bottom: 20px;
}
.item-title {
  color: #ff8882;
}
.item-calories {
  display: block;
  width: 100%;
}
.calories-label {
  color: #9dbeb9;
  margin-right: 5px;
}
.ingredients-label {
  display: inline-block;
  color: #194350;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 10px 0;
}
.ingredients-list {
  width: 100%;
}
.calories-source {
  display: inline-block;
  margin: 10px 0;
  color: #194350;
  text-decoration: none;
  border-bottom: 1px solid #194350;
  transition: 0.3s ease-in-out;
}
.calories-source:hover {
  border-bottom: 1px solid #ff8882;
  color: #ff8882;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
